.register-wrapper{
    width: 100%;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    background-color: var(--marine);
}

.register-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    width: 100%;
    align-items: center;
}

.register-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: center;
    
    h2{
        color: white;
        font-size: 3rem;
    }

    p{
        color: white;
        width: 70%;
        font-size: 1.2rem;
    }

    
}

.register-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    gap: 1rem;
    width: 50%;
   
    input{
        padding: 1rem;
        border-radius: 81px;
        margin-top: 1rem;
    }
}

.create-btn{
    margin-top: 4rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 81px;
    background-color: var(--purple);
    color: white;
    width: 100%;
    align-self: center;

    &:hover{
        background-color: var(--purple-100);
        cursor: pointer;
    }
}

@media (max-width:900px) {
    
    .register-wrapper{
        width: 100%;
        max-width: 900px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 1rem;
        padding-top: 3rem;
        background-color: var(--marine);
    }

    .register-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;

        .register-title{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            h2{
                color: white;
            }

            p{
                color: white;
            }
        }
        .register-form{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            max-height: 100%;
            

            input{
                padding: 1rem ;
                border-radius: 81px;
                width: 100%;
            }
        }

        .create-btn{
            margin-top: 0rem;
            margin-top: 1rem;
            padding: 1rem;
            font-size: 1.2rem;
            border-radius: 81px;
            background-color: var(--purple);
            color: white;
            align-self: center;
            width: 100%;

            &:hover{
                background-color: var(--purple-100);
            }
        }
    }

    
}
