#station_name{
  color: #021E72;
  font-size: 35px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.7px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 8vh;
}

#previewDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowContainer {
  margin: 0 10px;
}

#arrow_back,
#arrow_forward {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#previewDiv{
  margin-bottom: 10vh;
}



#thumbsSwiper {
  width: 30vw; /* Defina a largura desejada */
  height: 50px; /* Defina a altura desejada */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#thumbsSwiper .swiper-slide {
  margin-right: 2vh; /* Adicione uma margem à direita dos slides */
  border-radius: 15px;
  width: 5px;
  border: 1px solid #021E72;
}



#station_description{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #021E72;
  font-size: 25px;
  margin-top: 10vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.swiper {
    margin-bottom: 10vh;
    width: 70vw;
    height: 28vh;
    border-radius: 15px;
    border: 1px solid #021E72;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(n) {
    background-color: rgb(255, 255, 255);
  }
  
  
  #thumbsSwiper .swiper-slide .slideNumber {
    color: #021E72;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.5px;
  }



#button_div{
  display: flex;
  align-items: center;
  justify-content: center;
}

#QrCode{
  width: 55vw;
  height: 6vh;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #000;
  background: #FFA500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the desired height */
}
.popup-overlay {
  background: rgba(0,0,0,.5)
}
.popup-content {
  background: rgba(0,0,0,.5);
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90vw;
}
.close {
  position: absolute;
  font-size: 40px;
  top: 10px; /* Ajuste a posição vertical conforme necessário */
  left: 10px; /* Ajuste a posição horizontal conforme necessário */
  z-index: 3; /* Ajuste o valor do z-index conforme necessário para garantir que fique acima dos outros elementos */
}

[role=tooltip].popup-content {
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,.16);
  width: 200px
}