
.home-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;


    .home-container{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 80%;

        max-width: 1200px;
        height: 100%;
        padding: 2rem 0;

        align-items: center;
        justify-items: center;
    
    .home-logo{
        width: 80%;
        max-width: 680px;
    }

    .home-bike{
        width: 50%;
        max-width: 420px;
    }

    .home-buttons{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80%;
        align-items: center;

        .botoes{
            padding: 0.5rem 1.5rem;
            font-weight: bold;
            font-size: 1.5rem;
            width: 80%;
            min-width: 200px;

            border-radius: 15px;
            color: white;
            background-color: var(--marine);
        }
    }
    
    }
    
}






@media (max-width: 900px) { 
                
    .home-wrapper{
        .home-container{
            
            .home-logo{
                width: 80%;
            }
        
            .home-bike{
                width: 60%;
            }
        
            .home-buttons{
                    
                width: 100%;      
            } 
        }
    }  
 }




