
.station-wrapper{
    width: 100%;
    
    height: 100vh;
    
    background-color: var(--marine);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 4rem 4rem 0 4rem;

    .station-header{
        background-color: white;
        width: 80%;
        padding: 2rem;
       display: flex;
       justify-content: center;
       border-radius: 15px;

       img{
        width: 70%;
       }
        
    }

    .station-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 100%;
        max-width: 1200px;
        height: 100%;
        
        padding: 4rem 0 0 0;

        .stations-buttons{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            
            

            button{
                width: 100%;
                padding: 2rem 0;
                font-size: 2rem;
                font-weight: bold;
                border-radius: 15px;
                color: var(--marine);

                &:hover{
                    cursor: pointer;
                }
            }

            
        }
    }
}

@media (min-width: 901px) {
    .station-logo-bike{
        display: none;
    }
    
}
@media (max-width:900px) {
    
    .station-wrapper{
        
        .station-header{
            width: 100%;

        }

        .station-container{
            align-items: center;
            justify-content: space-around;
            
            .station-logo-bike{
                background-color: white;
                width: 70%;
                padding: 2rem;
                border-radius: 15px;
                img{
                    width: 100%;
                }


            }

            .stations-buttons{
                display: flex;
                flex-direction: column;
                padding: 1rem 0;
                width: 100%;
                
                button{
                    padding: 1rem 0;
                    font-size: 1rem;
                }

                
            }
        }
    }


}

