@media (max-width:900px) {
    
    .station-wrapper{
        width: 100%;
        max-width: 900px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 1rem;
        background-color: var(--marine);
    }

    .station-container{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        width: 90%;

        

        input{
            width: 100%;
            padding: 0.5rem;
            border-radius: 10px;
            font-size: 1.2rem;
        }
    }

    .station-header{
        width: 100%;
        background-color: white;
        border-radius: 15px;
        padding: 0.8rem 4rem;
        display: flex;
        
        justify-content: center;
        
        img{

            max-width: 100%;
        }
    }

    .stations-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        div{
            width: 100%;
            p{
                color: white;
            }

            button{
                width: 100%;
                padding: 1rem 0;
                border-radius: 15px;
                color: var(--marine);
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

    }


}

